<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.unicauca.optimovil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OptiMovil">
        <activity
            android:name=".Actividades.VentanaProductosMeGusta"
            android:exported="false" />
        <activity
            android:name=".Actividades.VentanaClientes"
            android:exported="false" />
        <activity
            android:name=".Actividades.VentanaInformacionProductos"
            android:exported="false" />
        <activity
            android:name=".Actividades.VentanaProducto"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".Actividades.VentanaPrincipal"
            android:exported="true">
        </activity>
        <activity
            android:name=".Splash"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>